.App {
  font-family: sans-serif;
  text-align: center;
}
div {
  margin-right: 3px;
}
h3 {
  background-color: teal;
  height: 200px;
  color: #fff;
  border-radius: 1rem;
}
img {
  overflow: hidden;
  height: 200px;
  width: 300px;
}
.container-menu h1 {
  display: flow-root;
  text-align: center;
  font-size: 80px;
  font-weight: 500;
}
/* .container{
  height:100%;
} */
.slick-track {
  width: 10000px !important;
}
