.App {
  font-family: sans-serif;
  text-align: center;
}
div {
  margin-right: 3px;
}
h3 {
  background-color: teal;
  height: 200px;
  color: #fff;
  border-radius: 1rem;
}
.merch-bg{
  height: auto;
  width: 100%;
  border:grey 1px solid;
}
img {
  overflow: hidden;
  height: 200px;
  width: 300px;
}
.container-merch h1{
  text-align: center;
  font-size: 80px;
  font-weight: 500;
}
.slick-track {
  width: 10000px !important;
}
